.lead-container{
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 35px 50px;
    display: flex;
    flex-wrap: wrap;
}

.lead-container .lead-wrap{
    margin: 10px 20px;
    margin-bottom: 80px;
}

.lead-container .lead-wrap .item .img-wrap{
    width: 200px;
    position: relative;
    cursor: pointer;
}

.lead-container .lead-wrap .item .img-wrap img{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}


/* 鼠标经过图片放大 */
/* .lead-container .lead-wrap .item .img-wrap:hover img{
    transform: scale(1.1); 
}  */

.lead-container .lead-wrap .item .title{
    text-align: center;
}

.lead-container .lead-wrap .item .num-wrap{
    position: absolute;
    color: white;
    top: 5px;
    right: 5px;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding-right: 5px;
}

.lead-container .lead-wrap .item .num-wrap .num-icon{
    margin-right: 5px;
}

.lead-container .lead-wrap .item .img-wrap .player-icon{
    position: absolute;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%); /* 设为居中 */
    width: 40px;
    height: 40px;
    color: #dd6d60;
    font-size: 20px;    /* 文字大小 */
    border-radius: 50%;   /* 描边 */
    display: flex; 
    align-items: center;
    justify-content: center;   /* 横轴纵轴居中 */
    background: rgba(255, 255, 255, 0.8);
    opacity: 0;
}

/* 鼠标经过图片显示出来 */
.lead-container .lead-wrap .item .img-wrap:hover .player-icon{
    opacity: 1;
}
