/* 调整最外边的盒子的长宽，外边距 */
.playlists-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 35px 100px;
}

/*  */
.playlists-container .top-card {
    padding: 20px;
    /* 固定内边距20px */
    height: 200px;
    /* 固定盒子高度 */
    display: flex;
    /* 垂直变水平，弹性布局 */
    position: relative;
    /* 设置相对布局， */
    overflow: hidden;
    /* 超过盒子的部分隐藏 */
    border-radius: 5px;
}

/* 封面右外边距加20px */
.playlists-container .top-card .icon-wrap {
    margin-right: 20px;
    z-index: 1;
}

/* 调整图片大小 */
.playlists-container .top-card .icon-wrap img {
    width: 160px;
    height: 160px;
}

.playlists-container .top-card .content-wrap {
    z-index: 1;
}

/* 调整tag的形状 */
.playlists-container .top-card .content-wrap .tag {
    color: #dfac67;
    border: 1px solid #dfac67;
    width: 100px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-size: 16px;
    line-height: 30px;
    cursor: pointer;
}

/* 歌单标题 */
.playlists-container .top-card .content-wrap .title {
    color: white;
    padding-top: 10px;
}

/* 歌单信息 */
.playlists-container .top-card .content-wrap .info {
    color: rgb(210, 212, 216);
    /* 设置颜色 */
    font-size: 14px;
    padding-top: 5px;
    overflow: hidden;
    /* 超过盒子部分隐藏 */
    text-overflow: ellipsis;
    /* 文字超过部分用省略号表示 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    /* 最多5行 */
}

/* 设置背景 */
.playlists-container .top-card .bg {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    filter: blur(20px);
    /*设置高斯模糊，括号里面的值越大越模糊*/
}

/* 弄黑背景 */
.playlists-container .top-card .bg-mask {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.playlists-container .tab-container {
    padding-top: 30px;
}

/* 标签栏放盒子后面，从后面开始弄起来 */
.playlists-container .tab-container .tab-bar {
    display: flex;
    justify-content: flex-end;
    /* 从行尾位置开始排列 */
}

/* item类，字体颜色改成灰色，点击变成一只手 */
.playlists-container .tab-container .tab-bar .item {
    font-size: 15px;
    color: gray;
    margin-right: 20px;
    cursor: pointer;
}

/* active之后，颜色变了 */
.playlists-container .tab-container .tab-bar .item.active {
    color: black;
}

/* tab内容上外边距 */
.playlists-container .tab-container .tab-content {
    margin-top: 20px;
}

/* 弹性布局，变成水平 */
.playlists-container .tab-container .tab-content .items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* 让弹性盒元素在必要的时候拆行 */
}

/* 调整每个item */
.playlists-container .tab-container .tab-content .items .item {
    width: 200px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    /* 超过部分隐藏 */
    cursor: pointer;
}

/* 固定item图片大小 */
.playlists-container .tab-container .tab-content .items .item img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
}

/* 调整播放量特效，鼠标经过图片显示出来 */
.playlists-container .tab-container .tab-content .items .item .num-wrap {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 14px;
    color: white;
    line-height: 30px;
    /* 行间距30px */
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 100%;
    padding-left: 5px;
    top: -30px;
    overflow: hidden;
}

.playlists-container .tab-container .tab-content .items .item:hover .num-wrap {
    top: 0;
}

.playlists-container .tab-container .tab-content .items .item .img-wrap {
    position: relative;
}

/* 设置圆圈 */
.playlists-container .tab-container .tab-content .items .item .img-wrap .icon-play {
    position: absolute;  /* 绝对定位，定死 */
    top: 40%;
    right: 40%;
    width: 40px;
    height: 40px;
    color: #dd6d60;
    font-size: 20px;
    border-radius: 50%;
    display: flex; /* 弹性布局 */
    align-items: center;   /* 侧轴居中，默认垂直方向 */
    justify-content: center; /* 主轴居中，默认水平方向 */
    padding-left: 5px;
    background: rgba(255, 255, 255, 0.8);
    opacity: 0; /* 透明度为0 */
}

/* .playlists-container .tab-container .tab-content .items .item .img-wrap .icon-play::before {
    transform: translateX(3px);
} */

.playlists-container .tab-container .tab-content .items .item .img-wrap:hover .icon-play {
    opacity: 1;
}

/* 调整标题，字体 */
.playlists-container .tab-container .tab-content .items .item .name {
    overflow: hidden;
    text-overflow: ellipsis; /* 超过部分省略 */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* 最多两行 */
    font-size: 14px;
}

@media screen and (max-width : 500px) {
    .playlists-container{
        margin: 20px 0;
    }

    .playlists-container .top-card .content-wrap .tag{
        font-size: 14px;
    }
    
    .playlists-container .top-card .content-wrap .title{
        font-size: 8px;
    }

    .playlists-container .top-card .content-wrap .info{
        font-size : 6px;
    }

    .playlists-container .tab-container .tab-bar .item{
        font-size: 12px;
    }

    /* 标签栏放盒子后面，从后面开始弄起来 */
    .playlists-container .tab-container .tab-bar {
        overflow: scroll;
    }

    .playlists-container .tab-container .tab-content .items .item{
        width: 110px;
        margin: 10px;
    }

    .playlists-container .tab-container .tab-content .items .item img{
        width: 100%;
        height: 110px;
    }

    /* 设置圆圈 */
    .playlists-container .tab-container .tab-content .items .item .img-wrap .icon-play {
        position: absolute; 
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* 实现水平垂直居中 */
        width: 30px;
        height: 30px;
        color: #dd6d60;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.8);
        opacity: 0; /* 不透明度为0 */
    }

    .playlists-container .tab-container .tab-content .items .item .num-wrap{
        font-size: 6px;
    }

    .playlists-container .tab-container .tab-content .items .item .name{
        font-size: 10px;
    }
}

@media screen and (max-width : 450px){
    .playlists-container .tab-container .tab-content .items .item{
        width: 90px;
        margin: 10px;
    }

    .playlists-container .tab-container .tab-content .items .item img{
        width: 100%;
        height: 90px;
    }

  }
  
  @media screen and (max-width : 360px){
    /* 歌单图片大小调整 */
    .playlists-container .tab-container .tab-content .items .item{
      width: 120px;
      margin: 10px;
      position: relative;
      overflow: hidden;
    }
  
    .playlists-container .tab-container .tab-content .items .item img{
      width: 100%;
      height: 120px;
      border-radius: 5px;
    }
  }