 /* 调整整合songs-container外边距和高度 */
.songs-container {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: 1100px;
    margin: 35px 100px;
}
  /* 标签横着放 */
.songs-container .tab-bar {
    display: flex;
    margin: 20px 0px;
  }
  
  .songs-container .tab-bar .item {
    font-size: 15px;
    color: gray;
    margin-right: 20px;
    cursor: pointer;
    padding: 5px 20px;
  }
  
  .songs-container .tab-bar .item.active {
    color: black;
    background-color: #fcf6f5;
    border-radius: 20px;
  }
  
  .songs-container .song-table .song-wrap>span {
    margin-top: 20px;
    display: inline-block;
    color: #bebebe;
  }
  
  .songs-container .song-table .song-wrap .icon-mv {
    padding-left: 5px;
    color: #ee0000;
  }
  
  .songs-container .song-table .img-wrap {
    position: relative;
    width: 70px;
    height: 70px;
  }
  
  .songs-container .song-table .img-wrap img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
  }
  
  .songs-container .song-table .img-wrap .icon-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25px;
    height: 25px;
    color: #ee0000;
    font-size: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .songs-container .song-table .img-wrap .icon-play::before {
    transform: translateX(1px);
  }

  .song-page{
    padding: 10px 0;
  }

  .songs-container .name-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
  }

  .songs-container .td-title{
    text-align: center;
  }

  .songs-container .th-title{
    padding-bottom: 15px;
}