* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgb(243, 244, 246);
    display: flex;
    align-items: center;
    height: 60px;
    margin: 0 auto;
    z-index: 999;
    box-shadow: 0 0 10px 0px rgba(0, 0, 0, .3);
}

.header .header-title{
    overflow: hidden;
    text-overflow: ellipsis; /* ellipsis设置超过的部分为省略号*/
    display: -webkit-box;        /*  */
    -webkit-box-orient: vertical;  /* 从顶部向底部垂直布置子元素 */
    -webkit-line-clamp: 1;   /* 设为最多一行 */
}

.header .header-title h2 {
    color: blueviolet;
    letter-spacing: .1rem;
    margin: 0 30px;
    cursor: pointer;
}

.header .btns{
    display: flex;
    margin-left: 10px;
}

.header .btns i {
    color: rgba(144, 147, 153);
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.header .btns i:hover {
    background-color: rgba(166, 169, 173, .3);
}

.header .nav-phone-btn{
    display: none;
    margin-left: 5px;
}

.header .nav-phone-btn i{
    color: rgba(144, 147, 153);
    border-radius: 50%;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.header .nav-phone-btn i:hover {
    background-color: rgba(166, 169, 173, .3);
}

.header .input-box {
    width: 400px;
    margin-left: 30px;
}

.input-box input {
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    font-size: 12px;
    color: black;
}

.sliderBar{
    margin-left: 30px;
    width: 200px;
}

.el-input__icon {
    color: black;
}

.search-hot {
    width: 400px;
    height: 300px;
    /* border: 1px solid #333; */
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    border-radius: 10px;
    background-color: #fff;
    z-index: 1;
    padding: 10px 10px;
    box-sizing: border-box;
    position: absolute;
    margin-left: 30px;
}

.hot-title {
    margin: 10px 0;
    font-weight: bold;
}

.hot-item {
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: default;
}

.hot-item:hover {
    background-color: seashell;
}

.hot-index {
    font-size: 20px;
    color: rgb(236, 65, 65);
    margin-right: 15px;
}

.hot-info {
    flex: 1;
    font-size: 12px;
    color: slategray;
}

.hot-top {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.hot-name {
    font-size: 16px;
    margin-right: 15px;
    color: #000;
}

.hot-icon {
    width: 30px;
    /* height: 15px; */
    margin-left: 5px;
}

.history-wrap {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.history-item {
    border: 1px solid #ddd;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 13px;
    display: inline-block;
    cursor: pointer;
    margin: 5px;
}

.history-item:hover {
    background-color: #F5F7FA;
}

.history-item:hover .delete-btn {
    opacity: 1;
}

.delete-btn {
    cursor: pointer;
    opacity: 0;
}

.header .userInfo-wrap{
    display: flex;
}

.header .userInfo-wrap .user-wrap{
    cursor: pointer;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blueviolet;
}

.header .userInfo-wrap .user-wrap i{
    margin-left: 5px;
    font-size: 20px;
}

.header .userInfo-wrap .avater{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 30px;
    background: #f6f6f6;
    color: #00AEEC;
    border: 1px solid white;
    border-radius: 50%;
}

.header .userInfo-wrap .avater img{
    width: 100%;
    border-radius: 2rem;
}

@media screen and (max-width : 980px) {
    .sliderBar{
        display: none;
    }

    .header .input-box {
        width: 300px;
        margin-left: 30px;
    }

    .search-hot {
        width: 300px;
        height: 300px;
        /* border: 1px solid #333; */
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
        border-radius: 10px;
        background-color: #fff;
        z-index: 1;
        padding: 10px 10px;
        box-sizing: border-box;
        position: absolute;
        margin-left: 30px;
    }

    #btbg{
        display: none;
    }
  
}

@media screen and (max-width : 500px) {
    .header .userInfo-wrap{
        display: none;
    }

    .header .nav-phone-btn{
        display: block;
    }
}

@media screen and (max-width : 450px) {

    .header .header-title{
        display: none;
    }

    .header .input-box {
        width: 200px;
        margin-left: 10px;
    }

    .search-hot {
        width: 200px;
        height: 300px;
        /* border: 1px solid #333; */
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
        border-radius: 10px;
        background-color: #fff;
        z-index: 1;
        padding: 10px 10px;
        box-sizing: border-box;
        position: absolute;
        margin-left: 10px;
    }

    .hot-index {
        font-size: 12px;
        color: rgb(236, 65, 65);
        margin-right: 15px;
    }

    .hot-name {
        font-size: 10px;
        margin-right: 15px;
        color: #000;
        width: 100px;
    }
    
    .hot-score{
        display: none;
    }

    .hot-content{
        font-size: 8px;
    }

    .header .userInfo-wrap .avater{
        margin-left: 10px;
    }

    .header .userInfo-wrap .user-wrap{
        display: none;
    }
}
